<div id="pager">
  <div>
    <% if pagy.next %>
      <%= link_to(
        "",
        posts_path(page: pagy.next),
        data: {
          turbo_stream: "page_handler",
          controller: "autoclick"
        }
      ) %>
    <% end %>
  </div>
</div>
