<div id="<%= dom_id post %>">
  <p>
    <% if post.image.present? %>
      <%= image_tag(post.image) %>
    <% end %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= post.caption %>
  </p>

</div>
