<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= link_to "New post", new_post_path, class: 'btn btn-primary' %>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="container-fluid">

      <%= render post %>
    </div>
  <% end %>
</div>

<%= render "pager", pagy: @pagy %>
